@font-face {
    src: url("/font/Cafe24Ssurround.ttf");
    font-family: fashionfont;
    /* font-family: "Supermercado One"; */
}

*{margin: 0; padding: 0;font-family: fashionfont; }

a{ text-decoration-line: none; color: black; }
.mainwrap{
    background-color: white;
    /* width: 100vh; */
}
/* 해더 */
.header{
    height: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 20px;
    /* height: 710px; */
    background-color: black;
    /* background: linear-gradient(to right,#BFBBF5,#94DBEC); */
}

/* .hamberger > i{
    color: white;
} */
.headercenter{
    height: 20px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.headercenter span{
    width: 57px;
    /* height: 27px; */
    cursor: pointer;
    font-size: 15px;
    color: white;
}
.headercenter span a{
    color: white;
}

.headerRight{
    display: flex;
    align-items: center;
    gap: 15px;
}
.headerRight span {
    color: white;
    font-size: 15px;
}
.headerRight span:hover{
    cursor: pointer;
}

.mainF{
    
    font-family: "Supermercado One";
    font-size: 35px;
    color: white;
}

.mainlogo  a{
    outline: none;
    
}

.cententwrap{
    width: 720px;
    margin: 0 auto;
    /* height: 590px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

/* 검색창 */
.SearchBox{
    /* margin: 40px 0; */
    width: 350px;
    height: 30px;
    border-radius: 20px;
    /* background-color:rgba(255, 255, 255, 0.78); */
    background-color: white;
    

    display:flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 20px;
}


.SearchBox > input{
    width: 350px;
    border: none;
    outline: none;
    background-color: transparent;    
}
.SearchBox button{
    border: none;
    background-color: transparent;
}
.SearchBox button{
    font-size: 15px;
} 

    /* 패션평가창 */
.FashionBox{
    width: 758px;
    height: 751px;
    margin: 0px 0;
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    border: 1px solid #E0DCDC;
    /* border-radius: 10px; */
}
.FashionProfile{
    padding-left: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    height: 60px;
    border-bottom: 1px solid #E0DCDC;
}
.FashionProfile .ProfileName{
    font-size: 20px;
}


.FashionBox > img{
    margin: 0 auto;
    width: 580px;
    /* height: 0%; */
}



.Fashionlogs{
    /* border-bottom: 1px solid #E0DCDC; */
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
}
.fashionlogostop{
    height: 25px;
    display: flex;
    justify-content: space-between;
}
.fashionlogosbotton{
    margin-left: 20px;
    height: 20px;
    font-size: 10px;
    display: flex;
    align-items: center;
}
.fashionlogosbotton p{
    color: gray;
}

.Fashionlogs  i{
    /* color: linear-gradient(to right,#94DBEC,#BFBBF5); */
    margin: 0 6px;
}
.Fashionlogs .fa-shopping-basket{
    /* animation-name:basket; */
    transition-delay: 0s;
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 0.2s;
}
.fa-shopping-basket:hover{
    transform: rotate(20deg);
    /* transform: rotate(-30deg); */
}

/* @keyframes basket{
    transform: rotate(30deg);
    transform: rotate(-30deg);
} */
.yellowColor{
    background-color:yellow;
    border-color: black;
}


.logosleft{
    /* margin-left: 10px; */
    display: flex;
    align-items: center;
}
.shoppingBaskets{
    display: flex;
    align-items: center;
    border: 1px solid #E0DCDC;
    border-radius: 20px;
    padding: 5px;
}
.logosright{
    display: flex;
    align-items: center;
}
/* .Fashiondese{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
} */
.profile i{
    color: white;
}
.profile img{
    width: 25px;
    border-radius: 50px;
}



/* 프로필 */
.fa-cog {
    position: fixed;
    top: 600px;
    left: 1350px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.Profilecententwrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profilemain{
    gap: 6px;
    width: 100vh;
    height: 400px;
    margin: 40px 0 0 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #E0DCDC;

    font-size: 25px;
}
.profilemain img{
    width: 150px;
    border-radius: 50%;
}

.ProfileDecs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: fashionfont;
    font-weight: bold;
}
.ProfileDecs span{
    font-family: 'Supermercado One', on;
}

.username{
    text-align: center;
    font-size: 35px;
}

.userdecs{
    display: flex;
    gap: 50px;
    text-align: center;
    /* justify-content: space-between; */
}

.userdecs img{
    width: 20px;
}

.postsBox{
    padding: 10px 20px 0px 20px;
    width: 1080px;
    margin: 0 auto;
    /* background: linear-gradient(to right,#BFBBF5,#94DBEC); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-left: 1px solid #E0DCDC;
    border-right: 1px solid #E0DCDC;
    
}
.postsBox >span{
    width: 250px;
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0px;
    /* border: 1px solid black; */
}
.posts{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.posts img{
    width: 240px;
    height: 300px;
    border-radius: 10px;

    transition-duration: 0.2s;
}
.posts img:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;}
.posts{
    gap: 20px;
}



/* 패션 1-2 */
.loginuser{
    font-family: "Supermercado One";
}

.main1-2wrap{
    margin: 0 auto;
    width: 1024px;
    padding: 0 20px;
    /* height: 500px; */

    border-left: 1px solid #E0DCDC;
    border-right: 1px solid #E0DCDC;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.main1-2wrap span{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 20px;
    font-weight: bold;
    font-family: fashionfont;

}


.fashion1-2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    
}
.fashion1-2 img{
    /* width: 100%; */
    width: 230px;
    height: 300px;
    border-radius: 10px;

    transition-duration: 0.2s;
}
.fashion1-2 img:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* top btn */
.fa-arrow-alt-circle-up{
    position: fixed;
    top: 600px;
    left: 1350px;
    visibility: hidden;
    /* transition-property:all;*/
    transition-duration: 0.2s;
    /*transition-timing-function: ease-in-out; */
    
}
.fa-arrow-alt-circle-up:hover{
    cursor: pointer;
    color: gray;
}


/* 세팅 */
.settingmain{ 
        /* width: 1520px; */
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settingmain img{
    padding-top: 20px;
    width: 150px;
    border-radius: 50%;
}
.centents{
    height: 400px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;

}
.namecontent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    height: 40px;
}
.namecontent span{
    color: gray;
    font-size: 20px;
}
.namecontent input{
    width: 400px;
    height: 40px;
    text-align: center;
    outline: none;
    border: none;
} 
.namecontent input::placeholder{
    color: black;
    font-size: 22px;   
}

.pooter{
    margin: 50px 0 10px;

}
.pooter span{
    cursor: pointer;
    color: red;
}
.pooter .logout::after{
    content: " I";
    color: red;
}


/* 아이디/ 비밀번호 찾기 */
.findheader{
    /* width: 150px; */
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.findcentens{
    width: 1520px;
    display: flex;
    justify-content: space-between;
    /* justify-content: center;
    flex-direction: column;
    align-items: center; */
}

.findcentens span{
    /* border-bottom: 1px solid #E0DCDC; */
    text-align: center;
    width: 755px;
    font-size: 30px;
    cursor: pointer;
}
.GOfindidpw{
    border-bottom: 3px solid #E0DCDC;
    border-color: black;
}
.GOsidnup{
    border-bottom: 3px solid #E0DCDC;
}


.findcentent{
    margin:  20px 0;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.findNameEmail{
    margin: 0px 0;
    width: 650px;
    display: flex;
    justify-content: space-between;
}
.findNameEmail input{
    width: 500px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.findNameEmail p{
    font-size: 25px;
}


.idpwfindbtn{
    margin: 0 0 20px 0;
    color: black;
    background-color: white;
    padding: 7px 15px;
    border-radius: 30px;
    font-size: 20px;
    height: 40px;
    width: 300px;
}


.maingo{
    /* font-family: "Supermercado One"; */
    position: absolute;
    top: 50px;
    left: 20px;
    font-size: 30px;
}

.uploadwrap{
    /* padding-top: 30px; */
    /* height: 100vh; */
    margin: 0px auto;
    width: 1024px;

    background-color: white;
    border-left: 1px solid #E0DCDC;
    border-right: 1px solid #E0DCDC;
    display: flex;
    justify-content:space-between;
}
/* post */
.postwrap{  
    padding-top: 30px;
    margin: 0px auto;
    width: 1024px;

    background-color: white;
    border-left: 1px solid #E0DCDC;
    border-right: 1px solid #E0DCDC;
    display: flex;
    justify-content:space-between;
}




.posting img{
    width: 530px;
}
.postcentent{
    padding: 0 10px;
    width: 600px;
    display: flex;
    flex-direction: column;
}
.postheader{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E0DCDC;
    justify-content: space-between;
    margin: 0 10px;
    height: 50px;
    gap: 10px;
}
.postheader > div{
    gap: 10px;
    display: flex;
    align-items: center;
}

.postheader img{
    width: 25px;
    border-radius: 50%;
}

.postdecs{
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.eval{
    margin-left: 10px;
}
.eval >span{
    color: gray;
    font-size: 12px;
}

.evaluser{
    border-top: 1px solid #E0DCDC;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.bonobono { 
    width: 30px;
    height: 35px;
    border-radius: 50%;
}

.evalusertop{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}
.evalusertop .evalstar{
    width: 10px;
}

.evalusertopright{
    display: flex;
    flex-direction: column;
}
.comment{
    font-size: 12px;
}

.Addfeadback{
    /* display: flex; */
    padding-top: 30px;
    border-top: 1px solid #E0DCDC;
    color: gray;
    text-align: center;
}

/* 업로드 */

.uploadcentent{
    gap: 70px;
    padding: 20px 0px;
    margin: 0px auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.addimgBox{
    background-color: #E0DCDC ;
    width: 150px;
    height: 120px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hashtagBox{
    width: 550px;
    display: flex;
    justify-content: space-between;
}
.hashtag{
    cursor: pointer;
    border-radius: 10px;
    width: 130px;
    height: 30px;
    background-color: #E0DCDC;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addimg{
    color: skyblue;
    cursor: pointer;
}

.clothsBox{
    gap: 40px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cloths{
    display: flex;
    align-items: center;
    width: 550px;
    padding-bottom: 0px;
    border-bottom: 4px solid gray;
}

.cloths  img{
    width: 40px;
    margin-right: 16px;
}
.cloths a{
    /* text-align: center; */
    font-size: 16px;
    color: skyblue;
    text-decoration-line:underline;
}

.uploadbtn{
    padding: 7px 20px;
    border: 3px solid black;
    background-color: white;
    border-radius: 25px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    transition-duration: 0.2s;
}
.uploadbtn:hover{
    background-color:skyblue;
}


.searchsee{
    display: flex;
    flex-direction: column;
    width: 590px;
    
    background-color: white;
     position:relative;
   top: 93px;
   /* right: 50px; */
}
.searchsee span{
    color: black;
}
.searchsee div span{
    color: black;
}

.bottompooter{
    margin-top: 100px;
    height: 50px;
    width: 100%;
    background-color: black;
}
